@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: 'Dujitsu';
  src: url('/fonts/DujitsuFont-Demo.otf') format('opentype');
}

@font-face {
  font-family: 'cantarell';
  src: url('/fonts/tanmayee-cantarell-regular.ttf') format('opentype');
}

@font-face {
  font-family: 'open-sans';
  src: url('/fonts/tanmayee-open-sans-light.ttf') format('opentype');
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  /* background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=#FDFBE2ff&noise=#454545&density=40&opacity=40); */
  color: #000000;
  font-family: 'open-sans';
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ScrollStyle
{
  max-height: 470px;
  overflow-y: scroll;
}